<h1>Please wait for another players...</h1> 
<h2>Players in queue: <%= @count %></h2>

<script>
	// NOTIFICATIONS
	var user_id = <%= current_user.id%>
	$(function() { 

		var player_queue_channel = "/player_queue_update"
		PrivatePub.subscribe(player_queue_channel, function(data, channel) {
			console.log(data);
			location.reload();
		});

		var start_game = "/start_game/" + user_id
		PrivatePub.subscribe(start_game, function(data, channel) {
			console.log(data);
			location.reload();
		});
	});

</script>

<%= subscribe_to "/player_queue_update" %>
<%= subscribe_to "/start_game/#{current_user.id}" %>
