<div class="logo">Chess for three</div>

<input type="text" placeholder="Your nick name"></input><br>
<input type="password" placeholder="••••••••"></input><br>
<input type="password" placeholder="••••••••"></input><br>

<!--<%= link_to "Sign up now!", signup_path, class: "btn sign-up" %>-->
<%= link_to "Sign up now!", signup_path, class: "btn sign-up" %>