<div class="logo">Chess for three</div>

<input type="text" placeholder="Your nick name"></input><br>
<input type="password" placeholder="••••••••"></input><br>
<button type="submit">Sign In</button><br>
<button type="submit">Sign Up</button><br>