<table class="table table-striped">
	<tr>
		<td>#</td>
		<td>User Name</td>
		<td>Email</td>
		<td>Status</td>
	</tr>
	<% counter = 1 %>
	<% @users.each do |user| %>
		<tr>
			<td><%= counter %></td>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td>
				<span>
					<% if user.desk %>
						Playing
					<% elsif user.is_waiting%>
						Waiting another players
					<% else %>
						Thinking about something ^_^
					<% end %>
				</span>
			</td>
			<% counter += 1 %>
		</tr>
	<%end%>
</table>