<table class="table table-striped">
	<tr>
		<td>#</td>
		<td>User Name</td>
		<td>Status</td>
	</tr>
	<% counter = 1 %>
	<% @users.each do |user| %>
		<tr>
			<td><%= counter %></td>
			<td><%= user.name %></td>
			<td>
				<span>
					<% if user.desk %>
						Playing
					<% else %>
						Waiting
					<% end %>
				</span>
			</td>
			<% counter += 1 %>
		</tr>
	<%end%>
</table>