// Place all the styles related to the Desk controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#scene-container {
	display: block;
	margin: 0 auto;
	padding: 0;
}

#error-container {
	min-height: 0;
	/*visibility: hidden;*/
}
